@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html, body {
  font-family: 'Roboto', ui-sans-serif, system-ui, sans-serif;
}
@import "tailwindcss";
@plugin "daisyui" {
  themes: forest --default;
}