services:
  infanina-app:
    build:
      context: ./web/infanina
      dockerfile: Dockerfile
    container_name: infanina-app
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - TZ=${TZ}
    ports:
      - "3002:3000"
    networks:
      - tunnel_net

  web:
    image: nginx:stable-alpine
    container_name: nginx-web
    restart: unless-stopped
    volumes:
      - ./web/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./web/my-home-clock/dist:/usr/share/nginx/html:ro
      - ./web/logs:/var/log/nginx
    ports:
      - "8080:80"
    environment:
       - TZ=${TZ}
    networks:
      - tunnel_net
  
  n8n:
      image: docker.n8n.io/n8nio/n8n:latest
      container_name: n8n
      restart: unless-stopped
      ports:
        - "5678:5678"
      environment:
        - N8N_SECURE_COOKIE=false # ONLY FOR LOCALHOST TESTING, DO NOT USE IN PRODUCTION
        - GENERIC_TIMEZONE=${TZ}
        - TZ=${TZ}
        - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
        - N8N_RUNNERS_ENABLED=true
      volumes:
        - n8n_data:/home/node/.n8n
      networks:
        - tunnel_net
  
  uptime-kuma:
      image: louislam/uptime-kuma:latest
      container_name: uptime-kuma
      restart: unless-stopped
      ports:
        - "3001:3001"
      volumes:
        - uptime-kuma-data:/app/data
      environment:
        - TZ=${TZ}
      networks:
        - tunnel_net

  cloudflared-infanina:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared-infanina
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${INFANINA_TUNNEL_TOKEN}
    depends_on:
      - infanina-app
    networks:
      - tunnel_net

  cloudflared-my-home-clock:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared-my-home-clock
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${MY_HOME_CLOCK_TUNNEL_TOKEN}
    depends_on:
      - web
    networks:
      - tunnel_net

networks:
  tunnel_net:
    driver: bridge

volumes:
  uptime-kuma-data:
  n8n_data: