name: Deploy to Raspberry Pi4

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    environment: Production

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Synchronize Code to Project Directory
        run: |
          sudo apt update && sudo apt install rsync -y
          sudo rsync -av --delete ${{ github.workspace }}/ /home/pi/home-lab/

      - name: Deploy to Raspberry Pi
        run: |
          PROJECT_PATH="/home/pi/home-lab"
          cd $PROJECT_PATH
          echo "TZ=${{ secrets.TZ }}" > .env
          echo "INFANINA_TUNNEL_TOKEN=${{ secrets.INFANINA_TUNNEL_TOKEN }}" >> .env
          echo "MY_HOME_CLOCK_TUNNEL_TOKEN=${{ secrets.MY_HOME_CLOCK_TUNNEL_TOKEN }}" >> .env
          echo ".env file created with 3 lines."
          docker compose down
          docker system prune -af
          docker compose build --no-cache
          docker compose up -d --remove-orphans
